@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css')
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css')
@import url('https://raw.githubusercontent.com/KrstlSkll69/vc-snippets/main/PrivateChannelRecolor.css')

:root {
  --custom-member-list-width: 230px;
  --show-memberlist-rpc: none;
  --userbanner-blur: 0px;
}

.memberInner__5d473 {
  min-height: 44px;
  /* resize members in list to prevent --show-memberlist-rpc fucking upping  */
}

.members_c8ffbb {
  left: -4px;
  width: calc(100% + 8px);
}

.subtitleContainer_f75fb0 {
  margin: 0px 0 10 80px;
  width: calc(98.7% - var(--custom-member-list-width) - 17.1px);
  /* adjust size of title to align with chat content */
  z-index: 100;
}

/* the great fuckwad 1 */
.container_c8ffbb,
.member_c8ffbb,
.container__7641b,
.chat_f75fb0,
.guilds_c48ade,
.quickswitcher_ac6cb0,
.quickswitcher_ac6cb0 .scroller_ac6cb0,
.container__2637a,
.container_f37cb1,
.scroller__99e7c,
.privateChannels__35e86,
.itemsContainer_ef3116,
.sectionDivider__629e4,
.resizeHandle__01ae2,
.wrapper_cb9592,
.root_bfe55a {
  background: transparent !important;
  /* hmmm i wonder what this does */
}

.modeSelected__2ea32 a.link__2ea32,
.modeSelected__2ea32.typeThread__2ea32 .link__2ea32 {
  background-color: rgba(148, 0, 234, 0.724);

  &:hover {
    background-color: rgb(164, 51, 230);
  }

  /* blurple channels */
}

li:has(.containerDefault_c69b6d .focusTarget__89030) {
  width: 40px;
  height: 0px;

  /*fucky but discord decided not to give these styles so!*/
  &:has(path[d^="M14.5 8a3 3 0 1 0-2.7-4.3c-.2.4.06.86.44 1.12a5 5 0 0 1 2."]) {
    margin-left: 104px;

  }

  &:has(path[d^="M2 10a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v9a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3v-9Zm3.5"]) {
    margin-left: 52px;
  }

  &:has(path[d^="M11 3a1 1 0 1 1 2 0v2h5.75c.16 0 .3.07.4.2l2.63 3.5a.5.5 0 0 1 0 .6l"]) {
    margin-left: 52px;

  }

  /* turns server action tabs to funny buttons, per-button styling */
}

.content__99f8c:has([data-list-item-id^="channels___boosts-"]) .sectionDivider__629e4 {
  margin-top: calc(36px + 48px);
}

li:has([data-list-item-id^="channels___boosts-"]) {
  overflow: visible;
  height: 0px !important;

  [data-list-item-id^="channels___boosts-"] {
    padding-top: 48px;
    pointer-events: none;

    .textArea_eff079 {
      pointer-events: all;
    }

    .progressBarContainer_eff079 {
      pointer-events: all;
      margin-top: 0;
      padding-top: var(--space-8);
      background-color: transparent !important;
    }
  }

  /* TODO: MAKE SERVER ACTION TABS GO ABOVE BOOSTS [@3] */
}

div[style="height: 12px;"] {
  height: 4px !important;
}

.containerDefault_c69b6d:has(.focusTarget__89030) {
  width: 40px;
  height: 40px;

  .link__2ea32 {
    justify-content: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    transition: background-color 0.1s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.25);
    }

    .newChannel__599fa {
      font-size: 0px;
      position: absolute;
      min-width: 0px;
      min-height: 0px;
      height: 12px;
      left: 28px;
      bottom: 28px;
    }
  }

  .name__2ea32 {
    display: none;
  }

  /* turns server action tabs to funny buttons */
}


.pill_e5445c {
  width: 100%;
  overflow: visible !important;
  opacity: 1;
  /* pill rules */
}

.pill_e5445c [style="opacity: 1; height: 40px; transform: none;"] {
  right: 0;
  height: 53px !important;
  background-color: var(--background-accent);
  width: 64px;
  border-radius: 30% 0 0 30%;
  filter: drop-shadow(0px 14px 8px rgba(0, 0, 0, 0.1));
  pointer-events: none;
  animation: pillAnimateIn 0.3s backwards cubic-bezier(0, 0, 0, 1.4);
  /* open server thinger */
}

.pill_e5445c [style="opacity: 1; height: 40px; transform: none;"]::after,
.pill_e5445c [style="opacity: 1; height: 40px; transform: none;"]::before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 30px;
  height: 30px;
  border-bottom-right-radius: 20px;
  box-shadow: 15px 15px 0 15px var(--background-accent);
  /* open server thinger rounding */
}

.pill_e5445c [style="opacity: 1; height: 40px; transform: none;"]::before {
  top: 100%;
  border-bottom-right-radius: 0;
  border-top-right-radius: 20px;
  box-shadow: 15px -15px 0 15px var(--background-accent);
  /* open server thinger */
}

.sidebarRegion__23e6b {
  max-width: 300px;

  .sidebarRegionScroller__23e6b {
    justify-content: flex-start;

    .sidebar__23e6b {
      width: 300px;
      padding: 60px 0 6px 20px;

      .item_b3f026 {
        padding: 10px 10px;
        border-radius: 12px 0 0 12px;

        &.selected_b3f026 {
          background-color: rgba(148, 0, 234, 0.724);
        }
      }
    }
  }

  /* makes sidebar big, adds channel styling */
  .searchBar_c7e907 {
    margin-right: 16px;
  }

  .mask__68edb {
    height: 100px;
    contain: none;
    overflow: visible;

    [mask^="url(#uid_"] {
      mask: none !important;

      .banner__68edb {
        width: 100vw;
      }
    }
  }

  /* make account card be scale-adjustable */

  .thin_d125d2::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
}
